.input {
  border-radius: 9px;
  outline: none;
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
}

.search__input {
  margin-right: 15px;
  margin-left: 10px;
}
.auth__input {
  padding: 15px 10px;
  margin-top: 5px;
}

.auth__label {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;

}